{% extends "layout.html" %}

{% block content %}
    <form action="/add" method="post">
        <div class="row mb-3">
            <label class="form-label">Task to do</label>
            <input class="form-control" type="text" name="task_name" placeholder="Enter Todo..."><br>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    <hr>

    {% for todo in todo_list %}
    <div class="row mb-3">
        <p class="h3">{{ todo.id }} | {{ todo.task_name }}</p>

        <div class="btn-group" role="group">
            
            <div class="col-sm">
                {% if todo.completed == False %}
                    <span class="btn btn-outline-warning">Not Completed</span>
                {% else %}
                    <span class="btn btn-outline-success">Completed</span>
                {% endif %}
                
                <a class="btn btn-primary" href="/update/{{ todo.id }}">Toggle status</a>
                <a class="btn btn-danger" href="/delete/{{ todo.id }}">Delete</a>
                
            </div>

        </div>
    </div>
    {% endfor %}
{% endblock content %}